body{
	font-family: Arial, Verdana, sans-serif;
	margin: 0 auto;
}
#header{
	background: #222;
}
#footer{
	background: #222;
	color:#7B7B7B;
	font-size: 13px;
	padding: 10px;
	clear: both;
}
#mainVisual{
	position: relative;
	margin-bottom: -5px;
}
#mainText{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 200px;
	text-align: center;
	color: white;
	text-shadow: 0 0 8px #999999;
}
#mainText h2{
	font-size: 15px;
}
.button{
	border: 2px solid white;
	border-radius: 5px;
}
.button a:hover{
	background: rgba(0, 0, 0, 0.1);
}
#main, #sub{
	padding: 5%;
}
#footerNav ul{
	list-style: none;
	overflow: hidden;
	margin:0px;
	padding:10px;
}
#footerNav li{
	margin:10px;
}
#footerNavLink{
	width: 100%;
	background-color: #222;
}
#headerNav ul{
	list-style: none;
	overflow: hidden;
	margin:0px;
	padding:0px;
}
#headerNav li{
	float: left;
	width: 25%;
	text-align: center;
}
img {
	max-width: 100%;
}
a{
	text-decoration:none;
	display: block;
}
a:hover{
	background-color:#555;
}
a:visited ,a:link{
	color:#FFF;
}
/* スマホのスタイル */
#headerNav{
	display: none;
}
/* タブレットのスタイル */
@media all and (min-width: 480px){
	#footerNavLink{
		display: none;
	}
	#headerNav{
		display: block;
	}
	#footerNav{
		display: none;
	}
}
/* PCのスタイル */
@media all and (min-width: 768px){
	#container{
		overflow: hidden; /* カラム落ち対策 */
	}
	#main{
		float: left;
		width: 70%;
	}
	#sub{
		float: right;
		width: 10%;
	}
}
