@charset "utf-8";
body{
	margin: 0;
	padding: 0;
}
#container{
	width: 600px;
	height: 400px;
	background: #eee; 
	margin: 0 auto;
}
.box{
	position: fixed;
	opacity: 0.8;
	left: 50%;
	position:absolute;
}
#box1{
	width: 60px;
	height: 60px;
	top: 180px;
	background: #FFF;
	border: 3px solid #444;
	border-radius: 33px;
	margin-left:-33px;
}
#box2{
	width: 30px;
	height: 30px;
	top: 200px;
	background: red;
	border-radius: 15px;
	margin-left:-15px;	
}
#box3{
	width: 20px;
	height: 20px;
	top: 205px;
	background: #222;
	border-radius: 10px;
	margin-left:-10px;
}
#oton{
	position:absolute;
	top: 240px;
	left: 50%;
	margin-left: -35.5px;
}
