@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
a, a:link, a:visited{
	padding: 10px 50px;
	text-decoration: none;
	color: #FFF;
}
header {
	width: 100%;
	height: 80px;
	color: #333;
	background: #EEE;
}
nav {
	width: 100%;
	color: #FFF;
	background: #333;
	height: 50px;
	position: fixed;
	top: 80px;
}
ul{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	overflow: hidden;
	border-right:1px solid #666;
}
ul li{
	height: 50px;
	width: 330px;
	line-height: 50px;
	float: left;
	list-style: none;
	text-align: center;
	border-left:1px solid #666;
}
section{
	height: 800px;
	padding-top: 50px;
}
#section1{
	background-color: #F27398;
	clear: both;
}
#section2{
	background-color: #FFD464;
}
#section3{
	background-color: #1253A4;
}
